// babel.config.js
//.babel.rc is a json file thal allows all the arguments
{
    "presets":["@babel/preset-env","@babel/preset-react"],
  // "plugins":[ ["transform-class-properties", {"loose":  true}]]
//   "plugins": [
//     ["@babel/plugin-proposal-class-properties", { "loose": true }],
//     ["@babel/plugin-proposal-private-methods", { "loose": true }],
//     ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
//   ]
"plugins": ["@babel/plugin-syntax-class-properties"]
}
